@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the 67848 session!</h1>
    <p>This is the demo code for 67848 course.</p>
</div>
